In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ---------------------------------------- 0.0/316.9 MB ? eta -:--:--
     -------------------------------------- 0.0/316.9 MB 991.0 kB/s eta 0:05:20
     ---------------------------------------- 0.2/316.9 MB 2.0 MB/s eta 0:02:40
     ---------------------------------------- 0.5/316.9 MB 3.2 MB/s eta 0:01:39
     ---------------------------------------- 1.0/316.9 MB 5.4 MB/s eta 0:00:59
     ---------------------------------------- 2.1/316.9 MB 8.9 MB/s eta 0:00:36
     --------------------------------------- 3.5/316.9 MB 12.4 MB/s eta 0:00:26
      -------------------------------------- 5.6/316.9 MB 17.0 MB/s eta 0:00:19
     - ------------------------------------- 8.6/316.9 MB 24.0 MB/s eta 0:00:13
     - ------------------------------------ 11.7/316.9 MB 54.4 MB/s eta 0:00:06
     - ------------------------------------ 14.6/316.9 MB 72.6 MB/s eta 0:00:05
     -- ----------------------------------- 18.0/316.9 MB 72.6 MB/s eta 0:00:05
     -- ----------------------------------- 21.9/316.9 MB 72.6 MB/s eta 0:00:05
     --- ---------------------------------- 25.8/316.9 MB 81.8 MB/s eta 0:00:04
     --- ---------------------------------- 29.1/316.9 MB 72.6 MB/s eta 0:00:04
     --- ---------------------------------- 32.4/316.9 MB 81.8 MB/s eta 0:00:04
     ---- --------------------------------- 35.2/316.9 MB 72.6 MB/s eta 0:00:04
     ---- --------------------------------- 38.7/316.9 MB 72.6 MB/s eta 0:00:04
     ----- -------------------------------- 42.6/316.9 MB 73.1 MB/s eta 0:00:04
     ----- -------------------------------- 46.4/316.9 MB 81.8 MB/s eta 0:00:04
     ------ ------------------------------- 50.1/316.9 MB 73.1 MB/s eta 0:00:04
     ------ ------------------------------- 53.7/316.9 MB 72.6 MB/s eta 0:00:04
     ------ ------------------------------- 57.1/316.9 MB 81.8 MB/s eta 0:00:04
     ------- ------------------------------ 60.0/316.9 MB 73.1 MB/s eta 0:00:04
     ------- ------------------------------ 63.2/316.9 MB 72.6 MB/s eta 0:00:04
     ------- ------------------------------ 66.7/316.9 MB 72.6 MB/s eta 0:00:04
     -------- ----------------------------- 69.8/316.9 MB 73.1 MB/s eta 0:00:04
     -------- ----------------------------- 73.5/316.9 MB 81.8 MB/s eta 0:00:03
     --------- ---------------------------- 76.5/316.9 MB 72.6 MB/s eta 0:00:04
     --------- ---------------------------- 80.0/316.9 MB 81.8 MB/s eta 0:00:03
     ---------- --------------------------- 83.9/316.9 MB 72.6 MB/s eta 0:00:04
     ---------- --------------------------- 87.7/316.9 MB 81.8 MB/s eta 0:00:03
     ---------- --------------------------- 91.4/316.9 MB 73.1 MB/s eta 0:00:04
     ----------- -------------------------- 95.0/316.9 MB 73.1 MB/s eta 0:00:04
     ----------- -------------------------- 98.9/316.9 MB 81.8 MB/s eta 0:00:03
     ----------- ------------------------- 102.7/316.9 MB 81.8 MB/s eta 0:00:03
     ------------ ------------------------ 106.3/316.9 MB 81.8 MB/s eta 0:00:03
     ------------ ------------------------ 110.1/316.9 MB 81.8 MB/s eta 0:00:03
     ------------- ----------------------- 113.3/316.9 MB 81.8 MB/s eta 0:00:03
     ------------- ----------------------- 116.9/316.9 MB 81.8 MB/s eta 0:00:03
     ------------- ----------------------- 119.7/316.9 MB 72.6 MB/s eta 0:00:03
     -------------- ---------------------- 123.7/316.9 MB 81.8 MB/s eta 0:00:03
     -------------- ---------------------- 127.5/316.9 MB 81.8 MB/s eta 0:00:03
     --------------- --------------------- 131.1/316.9 MB 81.8 MB/s eta 0:00:03
     --------------- --------------------- 134.9/316.9 MB 81.8 MB/s eta 0:00:03
     ---------------- -------------------- 138.5/316.9 MB 81.8 MB/s eta 0:00:03
     ---------------- -------------------- 142.2/316.9 MB 81.8 MB/s eta 0:00:03
     ----------------- ------------------- 145.8/316.9 MB 72.6 MB/s eta 0:00:03
     ----------------- ------------------- 148.8/316.9 MB 81.8 MB/s eta 0:00:03
     ----------------- ------------------- 152.5/316.9 MB 81.8 MB/s eta 0:00:03
     ------------------ ------------------ 156.1/316.9 MB 81.8 MB/s eta 0:00:02
     ------------------ ------------------ 159.4/316.9 MB 72.6 MB/s eta 0:00:03
     ------------------ ------------------ 162.3/316.9 MB 81.8 MB/s eta 0:00:02
     ------------------- ----------------- 165.9/316.9 MB 81.8 MB/s eta 0:00:02
     ------------------- ----------------- 169.6/316.9 MB 81.8 MB/s eta 0:00:02
     -------------------- ---------------- 172.4/316.9 MB 81.8 MB/s eta 0:00:02
     -------------------- ---------------- 176.0/316.9 MB 81.8 MB/s eta 0:00:02
     -------------------- ---------------- 179.7/316.9 MB 81.8 MB/s eta 0:00:02
     --------------------- --------------- 183.2/316.9 MB 81.8 MB/s eta 0:00:02
     --------------------- --------------- 186.0/316.9 MB 81.8 MB/s eta 0:00:02
     ---------------------- -------------- 189.4/316.9 MB 81.8 MB/s eta 0:00:02
     ---------------------- -------------- 193.1/316.9 MB 81.8 MB/s eta 0:00:02
     ----------------------- ------------- 197.1/316.9 MB 81.8 MB/s eta 0:00:02
     ----------------------- ------------- 200.0/316.9 MB 73.1 MB/s eta 0:00:02
     ----------------------- ------------- 203.0/316.9 MB 81.8 MB/s eta 0:00:02
     ------------------------ ------------ 206.5/316.9 MB 81.8 MB/s eta 0:00:02
     ------------------------ ------------ 210.0/316.9 MB 81.8 MB/s eta 0:00:02
     ------------------------ ------------ 213.0/316.9 MB 81.8 MB/s eta 0:00:02
     ------------------------- ----------- 216.9/316.9 MB 81.8 MB/s eta 0:00:02
     ------------------------- ----------- 220.8/316.9 MB 72.6 MB/s eta 0:00:02
     -------------------------- ---------- 223.6/316.9 MB 81.8 MB/s eta 0:00:02
     -------------------------- ---------- 226.5/316.9 MB 81.8 MB/s eta 0:00:02
     -------------------------- ---------- 230.1/316.9 MB 81.8 MB/s eta 0:00:02
     --------------------------- --------- 233.8/316.9 MB 81.8 MB/s eta 0:00:02
     --------------------------- --------- 237.4/316.9 MB 81.8 MB/s eta 0:00:01
     ---------------------------- -------- 241.0/316.9 MB 81.8 MB/s eta 0:00:01
     ---------------------------- -------- 244.8/316.9 MB 81.8 MB/s eta 0:00:01
     ----------------------------- ------- 248.5/316.9 MB 81.8 MB/s eta 0:00:01
     ----------------------------- ------- 252.3/316.9 MB 81.8 MB/s eta 0:00:01
     ----------------------------- ------- 255.9/316.9 MB 81.8 MB/s eta 0:00:01
     ------------------------------ ------ 259.7/316.9 MB 81.8 MB/s eta 0:00:01
     ------------------------------ ------ 263.4/316.9 MB 81.8 MB/s eta 0:00:01
     ------------------------------- ----- 266.8/316.9 MB 81.8 MB/s eta 0:00:01
     ------------------------------- ----- 270.5/316.9 MB 81.8 MB/s eta 0:00:01
     -------------------------------- ---- 274.2/316.9 MB 81.8 MB/s eta 0:00:01
     -------------------------------- ---- 277.9/316.9 MB 81.8 MB/s eta 0:00:01
     -------------------------------- ---- 281.5/316.9 MB 81.8 MB/s eta 0:00:01
     --------------------------------- --- 285.0/316.9 MB 81.8 MB/s eta 0:00:01
     --------------------------------- --- 288.0/316.9 MB 81.8 MB/s eta 0:00:01
     ---------------------------------- -- 291.3/316.9 MB 81.8 MB/s eta 0:00:01
     ---------------------------------- -- 294.9/316.9 MB 81.8 MB/s eta 0:00:01
     ---------------------------------- -- 298.3/316.9 MB 73.1 MB/s eta 0:00:01
     ----------------------------------- - 302.1/316.9 MB 81.8 MB/s eta 0:00:01
     ----------------------------------- - 306.0/316.9 MB 81.8 MB/s eta 0:00:01
     ------------------------------------  309.0/316.9 MB 81.8 MB/s eta 0:00:01
     ------------------------------------  312.6/316.9 MB 81.8 MB/s eta 0:00:01
     ------------------------------------  316.5/316.9 MB 81.8 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 81.8 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 81.8 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 81.8 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 81.8 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 81.8 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 81.8 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 81.8 MB/s eta 0:00:01
     ------------------------------------- 316.9/316.9 MB 18.2 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting py4j==0.10.9.7 (from pyspark)
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
     ---------------------------------------- 0.0/200.5 kB ? eta -:--:--
     ---------------------------------------- 200.5/200.5 kB ? eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425388 sha256=9c885f3a0d5ea9cf5f70980158ec5a4d540ffa1bf87d8dea4903b62a573e5967
  Stored in directory: c:\users\ortek\appdata\local\pip\cache\wheels\41\4e\10\c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.7 pyspark-3.5.0

In [4]:
!pip install pandas

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/3d/c6/9bb3a165e915b9a43b2fd1d35620977bf1371e08538f3649585a1d7b4794/pandas-2.1.3-cp310-cp310-win_amd64.whl.metadata
  Downloading pandas-2.1.3-cp310-cp310-win_amd64.whl.metadata (18 kB)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\ortek\anaconda3\envs\3.10\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ortek\anaconda3\envs\3.10\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Obtaining dependency information for pytz>=2020.1 from https://files.pythonhosted.org/packages/32/4d/aaf7eff5deb402fd9a24a1449a8119f00d74ae9c2efa79f8ef9994261fc2/pytz-2023.3.post1-py2.py3-none-any.whl.metadata
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ---------------------------------------- 0.0/341.8 kB ? eta -:--:--
     ---- ---------------------------------- 41.0/341.8 kB 1.9 MB/s eta 0:00:01
     ------------------ ------------------- 163.8/341.8 kB 2.0 MB/s eta 0:00:01
     -------------------------------------- 341.8/341.8 kB 3.0 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\ortek\anaconda3\envs\3.10\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.1.3-cp310-cp310-win_amd64.whl (10.7 MB)
   ---------------------------------------- 0.0/10.7 MB ? eta -:--:--
    --------------------------------------- 0.3/10.7 MB ? eta -:--:--
   --- ------------------------------------ 0.8/10.7 MB 10.2 MB/s eta 0:00:01
   ------- -------------------------------- 1.9/10.7 MB 15.0 MB/s eta 0:00:01
   --------------- ------------------------ 4.0/10.7 MB 23.3 MB/s eta 0:00:01
   ------------------------- -------------- 6.8/10.7 MB 31.2 MB/s eta 0:00:01
   ---------------------------------------  10.4/10.7 MB 38.5 MB/s eta 0:00:01
   ---------------------------------------- 10.7/10.7 MB 43.5 MB/s eta 0:00:00
Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
   ---------------------------------------- 0.0/502.5 kB ? eta -:--:--
   ---------------------------------------- 502.5/502.5 kB ? eta 0:00:00
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.1.3 pytz-2023.3.post1 tzdata-2023.3

In [1]:
import pyspark

In [25]:
import pandas as pd
data=pd.read_csv("test.csv",sep=';')

In [26]:
data

       Name  age
0     Krish   31
1  Sudhansh   30
2     Sunny   29

In [27]:
from pyspark.sql import SparkSession

In [28]:
spark=SparkSession.builder.appName('Practise').getOrCreate() # Starting Spark session

In [29]:
spark

In [30]:
df_pyspark=spark.read.csv('test.csv',sep=';')

In [31]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [32]:
df_pyspark.show()

+--------+---+
|     _c0|_c1|
+--------+---+
|    Name|age|
|   Krish| 31|
|Sudhansh| 30|
|   Sunny| 29|
+--------+---+

In [33]:
spark.read.option('header','true').csv('test.csv',sep=';')

DataFrame[Name: string, age: string]

In [34]:
spark.read.option('header','true').csv('test.csv',sep=';').show()

+--------+---+
|    Name|age|
+--------+---+
|   Krish| 31|
|Sudhansh| 30|
|   Sunny| 29|
+--------+---+

In [35]:
df_pyspark=spark.read.option('header','true').csv('test.csv',sep=';')

In [36]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [38]:
df_pyspark.head(3)

[Row(Name='Krish', age='31'),
 Row(Name='Sudhansh', age='30'),
 Row(Name='Sunny', age='29')]

In [39]:
df_pyspark.printSchema() # df.info()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)

In [40]:
df_pyspark=spark.read.option('header','true').csv('test.csv',sep=';',inferSchema=True) # inferSchema sets data value

In [41]:
df_pyspark

DataFrame[Name: string, age: int]

In [42]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)

In [44]:
df_pyspark=spark.read.csv('test.csv',sep=';',header=True,inferSchema=True)
df_pyspark.show()

+--------+---+
|    Name|age|
+--------+---+
|   Krish| 31|
|Sudhansh| 30|
|   Sunny| 29|
+--------+---+

In [45]:
df_pyspark.select('Name').show()

+--------+
|    Name|
+--------+
|   Krish|
|Sudhansh|
|   Sunny|
+--------+

In [46]:
df_pyspark['Name']

Column<'Name'>

In [48]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int')]

In [49]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, age: string]

In [50]:
df_pyspark.describe().show()

+-------+-----+----+
|summary| Name| age|
+-------+-----+----+
|  count|    3|   3|
|   mean| NULL|30.0|
| stddev| NULL| 1.0|
|    min|Krish|  29|
|    max|Sunny|  31|
+-------+-----+----+

In [55]:
#Adding columns
df_pyspark=df_pyspark.withColumn('Experience',df_pyspark['age']-20)

In [57]:
df_pyspark.show()

+--------+---+----------+
|    Name|age|Experience|
+--------+---+----------+
|   Krish| 31|        11|
|Sudhansh| 30|        10|
|   Sunny| 29|         9|
+--------+---+----------+

In [58]:
#Drop a column
df_pyspark.drop('Experience').show()

+--------+---+
|    Name|age|
+--------+---+
|   Krish| 31|
|Sudhansh| 30|
|   Sunny| 29|
+--------+---+

In [59]:
#Rename columns
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+----------+
|New Name|age|Experience|
+--------+---+----------+
|   Krish| 31|        11|
|Sudhansh| 30|        10|
|   Sunny| 29|         9|
+--------+---+----------+

In [60]:
df_pyspark.na.drop().show() # droppping nulls

+--------+---+----------+
|    Name|age|Experience|
+--------+---+----------+
|   Krish| 31|        11|
|Sudhansh| 30|        10|
|   Sunny| 29|         9|
+--------+---+----------+

In [63]:
df_pyspark.na.drop(how='all').show()

+--------+---+----------+
|    Name|age|Experience|
+--------+---+----------+
|   Krish| 31|        11|
|Sudhansh| 30|        10|
|   Sunny| 29|         9|
+--------+---+----------+

In [64]:
#treshold
df_pyspark.na.drop(how='any',thresh=2).show() # If there are at least 2 non null values leave it

+--------+---+----------+
|    Name|age|Experience|
+--------+---+----------+
|   Krish| 31|        11|
|Sudhansh| 30|        10|
|   Sunny| 29|         9|
+--------+---+----------+

In [65]:
df_pyspark.na.drop(how='any',subset=['Name']).show() # Deletes all records that had null in this column

+--------+---+----------+
|    Name|age|Experience|
+--------+---+----------+
|   Krish| 31|        11|
|Sudhansh| 30|        10|
|   Sunny| 29|         9|
+--------+---+----------+

In [67]:
df_pyspark.na.fill('Missing values','Experience').show()# puts 'Missing values' instead of null in table

+--------+---+----------+
|    Name|age|Experience|
+--------+---+----------+
|   Krish| 31|        11|
|Sudhansh| 30|        10|
|   Sunny| 29|         9|
+--------+---+----------+

In [68]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['age', 'Experience'], 
    outputCols=["{}_imputed".format(c) for c in ['age', 'Experience']]
    ).setStrategy("mean")

In [69]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+--------+---+----------+-----------+------------------+
|    Name|age|Experience|age_imputed|Experience_imputed|
+--------+---+----------+-----------+------------------+
|   Krish| 31|        11|         31|                11|
|Sudhansh| 30|        10|         30|                10|
|   Sunny| 29|         9|         29|                 9|
+--------+---+----------+-----------+------------------+

In [70]:
#Filter operations
# Age of people lees than or equal to 30
# Add imputation cols to df
df_pyspark.filter('age<=30').show()

+--------+---+----------+
|    Name|age|Experience|
+--------+---+----------+
|Sudhansh| 30|        10|
|   Sunny| 29|         9|
+--------+---+----------+

In [72]:
df_pyspark.filter('age<=30').select(['Name','age','Experience']).show()

+--------+---+----------+
|    Name|age|Experience|
+--------+---+----------+
|Sudhansh| 30|        10|
|   Sunny| 29|         9|
+--------+---+----------+

In [77]:
df_pyspark.filter((df_pyspark['age']<=30) & 
                  (df_pyspark['Experience']>=10)).select(['Name','age']).show()

+--------+---+
|    Name|age|
+--------+---+
|Sudhansh| 30|
+--------+---+

In [80]:
df_pyspark.filter(~(df_pyspark['age']<=30)).select(['Name','age','Experience']).show()

+-----+---+----------+
| Name|age|Experience|
+-----+---+----------+
|Krish| 31|        11|
+-----+---+----------+

In [ ]:
#spark=SparkSession.builder.appName('Agg').getOrCreate() # Starting Spark session

In [ ]:
#Aggregatiom

In [81]:
df_pyspark=spark.read.csv('test3.csv',header=True,inferSchema=True)

In [83]:
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [84]:
#Groupby

In [87]:
df_pyspark.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [88]:
### Groupby Departmernts  which gives maximum salary
df_pyspark.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [89]:
### Groupby Departmernts  which gives maximum salary
df_pyspark.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [90]:
### Groupby Departmernts  which gives maximum salary
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [92]:
### Groupby Departmernts  which gives maximum salary
df_pyspark.groupBy('Name').max().show()

+---------+-----------+
|     Name|max(salary)|
+---------+-----------+
|Sudhanshu|      20000|
|    Sunny|      10000|
|    Krish|      10000|
|   Mahesh|       4000|
+---------+-----------+

In [ ]:
#Examples of PySpark ML

In [94]:
training=spark.read.csv('test1.csv',header=True,inferSchema=True)

In [95]:
training.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [96]:
training.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [97]:
training.columns

['Name', 'age', 'Experience', 'Salary']

In [ ]:
#[Age,Experience]---->new feature----> independent feature

In [98]:
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=["age","Experience"],outputCol="Independent Features")

In [99]:
output=featureassembler.transform(training)

In [100]:
output.show()

+---------+---+----------+------+--------------------+
|     Name|age|Experience|Salary|Independent Features|
+---------+---+----------+------+--------------------+
|    Krish| 31|        10| 30000|         [31.0,10.0]|
|Sudhanshu| 30|         8| 25000|          [30.0,8.0]|
|    Sunny| 29|         4| 20000|          [29.0,4.0]|
|     Paul| 24|         3| 20000|          [24.0,3.0]|
|   Harsha| 21|         1| 15000|          [21.0,1.0]|
|  Shubham| 23|         2| 18000|          [23.0,2.0]|
+---------+---+----------+------+--------------------+

In [101]:
output.columns

['Name', 'age', 'Experience', 'Salary', 'Independent Features']

In [102]:
finalized_data=output.select("Independent Features","Salary")

In [103]:
finalized_data.show()

+--------------------+------+
|Independent Features|Salary|
+--------------------+------+
|         [31.0,10.0]| 30000|
|          [30.0,8.0]| 25000|
|          [29.0,4.0]| 20000|
|          [24.0,3.0]| 20000|
|          [21.0,1.0]| 15000|
|          [23.0,2.0]| 18000|
+--------------------+------+

In [104]:
from pyspark.ml.regression import LinearRegression
##train test split
train_data,test_data=finalized_data.randomSplit([0.75,0.25])
regressor=LinearRegression(featuresCol='Independent Features', labelCol='Salary')
regressor=regressor.fit(train_data)

In [105]:
### Coefficients
regressor.coefficients

DenseVector([-64.8464, 1584.7554])

In [106]:
### Intercepts
regressor.intercept

15414.10693970376

In [107]:
### Prediction
pred_results=regressor.evaluate(test_data)

In [108]:
pred_results.predictions.show()

+--------------------+------+-----------------+
|Independent Features|Salary|       prediction|
+--------------------+------+-----------------+
|          [24.0,3.0]| 20000|18612.05915813422|
+--------------------+------+-----------------+

In [109]:
pred_results.meanAbsoluteError,pred_results.meanSquaredError

(1387.9408418657804, 1926379.7805190913)